boto>=2.49.0  # from collection amazon.aws
botocore>=1.12.249  # from collection amazon.aws
boto3>=1.9.249  # from collection amazon.aws
ansible-pylibssh  # from collection ansible.netcommon
jxmlease  # from collection ansible.netcommon
ncclient  # from collection ansible.netcommon
selectors2  # from collection ansible.netcommon
netaddr  # from collection ansible.netcommon
paramiko  # from collection ansible.netcommon
xmltodict  # from collection ansible.netcommon,azure.azcollection
pytz  # from collection awx.awx
python-dateutil>=2.7.0  # from collection awx.awx
awxkit  # from collection awx.awx
packaging  # from collection azure.azcollection
requests>=2.4.2  # from collection azure.azcollection,google.cloud,theforeman.foreman
azure-cli-core==2.11.1  # from collection azure.azcollection
azure-cli-nspkg==3.0.2  # from collection azure.azcollection
azure-common==1.1.11  # from collection azure.azcollection
azure-mgmt-authorization==0.51.1  # from collection azure.azcollection
azure-mgmt-batch==5.0.1  # from collection azure.azcollection
azure-mgmt-cdn==3.0.0  # from collection azure.azcollection
azure-mgmt-compute==10.0.0  # from collection azure.azcollection
azure-mgmt-containerinstance==1.4.0  # from collection azure.azcollection
azure-mgmt-containerregistry==2.0.0  # from collection azure.azcollection
azure-mgmt-containerservice==9.1.0  # from collection azure.azcollection
azure-mgmt-dns==2.1.0  # from collection azure.azcollection
azure-mgmt-keyvault==1.1.0  # from collection azure.azcollection
azure-mgmt-marketplaceordering==0.1.0  # from collection azure.azcollection
azure-mgmt-monitor==0.5.2  # from collection azure.azcollection
azure-mgmt-network==10.2.0  # from collection azure.azcollection
azure-mgmt-nspkg==2.0.0  # from collection azure.azcollection
azure-mgmt-privatedns==0.1.0  # from collection azure.azcollection
azure-mgmt-redis==5.0.0  # from collection azure.azcollection
azure-mgmt-resource==10.2.0  # from collection azure.azcollection
azure-mgmt-rdbms==1.4.1  # from collection azure.azcollection
azure-mgmt-servicebus==0.5.3  # from collection azure.azcollection
azure-mgmt-sql==0.10.0  # from collection azure.azcollection
azure-mgmt-storage==11.1.0  # from collection azure.azcollection
azure-mgmt-trafficmanager==0.50.0  # from collection azure.azcollection
azure-mgmt-web==0.41.0  # from collection azure.azcollection
azure-nspkg==2.0.0  # from collection azure.azcollection
azure-storage==0.35.1  # from collection azure.azcollection
msrest==0.6.10  # from collection azure.azcollection
msrestazure==0.6.4  # from collection azure.azcollection
azure-keyvault==1.0.0a1  # from collection azure.azcollection
azure-graphrbac==0.61.1  # from collection azure.azcollection
azure-mgmt-cosmosdb==0.5.2  # from collection azure.azcollection
azure-mgmt-hdinsight==0.1.0  # from collection azure.azcollection
azure-mgmt-devtestlabs==3.0.0  # from collection azure.azcollection
azure-mgmt-loganalytics==0.2.0  # from collection azure.azcollection
azure-mgmt-automation==0.1.1  # from collection azure.azcollection
azure-mgmt-iothub==0.7.0  # from collection azure.azcollection
openshift>=0.6.2  # from collection community.kubernetes
requests-oauthlib  # from collection community.kubernetes
pyvmomi  # from collection community.vmware
git+https://github.com/vmware/vsphere-automation-sdk-python.git ; python_version >= '2.7'  # Python 2.6 is not supported  # from collection community.vmware
google-auth  # from collection google.cloud
openstacksdk>=0.44  # from collection openstack.cloud
keystoneauth1>=3.4.0  # from collection openstack.cloud
jsonpatch  # from collection openstack.cloud
ovirt-engine-sdk-python>=4.4.0  # from collection ovirt.ovirt
ipaddress  # from collection theforeman.foreman