ansible-runner>=2.3.1

ansible-core
dumb-init

ncclient
paramiko
pykerberos
pyOpenSSL
pypsrp[kerberos,credssp]
pywinrm[kerberos,credssp]
toml
pexpect>=4.5
python-daemon
pyyaml
six

dnspython
netaddr
netapp-lib
psutil
pycdlib
git+https://github.com/vmware/vsphere-automation-sdk-python.git
