git+https://github.com/ansible/ansible-sign
ansible-runner>=2.3.1

ansible-core
dumb-init

ncclient
paramiko
pyOpenSSL
pypsrp[kerberos,credssp]
pywinrm[kerberos,credssp]
toml
pexpect>=4.5
python-daemon
pyyaml
six
